{{- if eq .chezmoi.os "darwin" -}}
# homebrew/cask-fonts is deprecated, fonts are now in homebrew/cask
cask "font-fira-code-nerd-font"
# little-coder is installed via curl script
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# macOS gets all the tools via brew (bottles usually available)
brew "ripgrep"
brew "bat"
brew "eza"
brew "fzf"
brew "zoxide"
brew "fd"
brew "tldr"
{{- end }}

brew "chezmoi"
# little-coder is installed via curl script in run_onchange_install-little-coder.sh.tmpl
# Linux CLI tools are installed via binary script in run_onchange_install-linux-binaries.sh.tmpl
